nav{
    display: flex;
    justify-content: space-between;
    padding-top:8px;
  }
  
  a{
    padding:16px 0px;
    font-weight: bold;
    cursor: pointer;
  }
  .logo{
    cursor: pointer;
  }

  @media(max-width:455px){
    .logo{
      display: none;
    }
    nav{
      justify-content: end;
    }
  }
  